<a href="" data-toggle="tooltip" title="Update inline editing" ng-click="updateRow(row.entity)" style="margin-left: 10px;"><span class="glyphicon glyphicon-save" aria-hidden="true" style="font-size:15px"></span></a> &nbsp; 
<a href="" data-toggle="tooltip" title="Delete this test" ng-click="deleteRow(row.entity)" ><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:15px"></span></a> &nbsp; 
<a href="" data-toggle="tooltip" title="Detail" ng-click="detail(row.entity)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="font-size:15px"></span></a>
